// Specific CSS for your home-page
.home-image img {
  width: 347px;
  border-radius: 10px;
  margin: 20px;
  padding: 18px;
  border-radius: 40px;
}

.color-background {
  background-color: #E5B181;
  border-radius: 240px;
}

.black-bar {
  max-width: 100wh;
  max-height: 100vh;
  padding: 31px;
  top: 19%;
  position: absolute;
  background-color: black;
  /* padding-right: 100vh; */
  padding-right: 300px;
}
