<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to "/", class: "navbar-brand" do %>
      <h1>Mealer</h1>
    <% end %>
    </div>
  </div>
</div>
