<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
   <h1>Mealer</h1>  <%= image_tag "https://icons.iconarchive.com/icons/google/noto-emoji-activities/1024/52707-party-popper-icon.png" %>
  <% end %>
</div>
