<div class="face">
    <div class="eye"></div>
    <div class="eye right"></div>
    <div class="mouth happy"></div>
  </div>

<div class="face2">
  <div class="eye"></div>
  <div class="eye right"></div>
  <div class="mouth sad"></div>
</div>
