
<div class="banner">
  <p> Let's organize our events together <strong> <%= current_user.username %></strong>!</p>
  <div class="home-image">
    <img src="https://i.pinimg.com/originals/70/2b/44/702b449c173736119189e8620b7fac76.gif" alt="">
  </div>
  <div class="container">
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <% if user_signed_in? %>
    <% else %>
      <a class="btn btn-flat" href="/users/sign_in">Sign up</a>
    <% end %>
  </div>
</div>
