.category-item {
    flex: 0 0 30%;
    text-align: center;
}


.category-list {
  border: 1px solid black;
   a {
     color: white;
     grid-gap: 10px;
     text-decoration: none;
     font-size: 10px;
   }
}

.card-hidden {
  position: absolute;
  left: 0;
  grid-gap: 65px;
  top: 49%;
  left: -11px;
  align-content: center;
  justify-content: space-around;
}


.category-item li {
  text-align: center;
}


.suggestion-add-header h1 {
  margin-bottom: 10px;
}

.suggestion-add-image > img {
  position: absolute;
  left: 10px;
  z-index: 3;
  top: 280px;
}

.item-add-header h1{
  position: absolute;
  left: 68px;
  font-size: 16px;
  bottom: 264px;
  margin: 10px;
}

.item-add-image {
  position: absolute;
  bottom: 161px;
  left: 21px;
}
