
.footer {
  display: flex;
  z-index: 9999;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  min-width: calc(60px-140px);
  bottom: 0;
  left: 0;
  /* width: 50vh; */
=======
  width: 52vh
  height: 52px;
  padding: 0px 50px;
  height: calc(100vh-100px);
  background-color: #161616;
}

x

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container a {
  color: inherit;
}

.fa-home {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff
}

.fa-plus {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff
}

.fa-glass-cheers {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff
}
.dropdown-menu {
  background: #FFB500;
}
