// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "events/index";
@import "components/index";
@import "pages/index";


.active {
 background: rgb(255,181,0);
  background: radial-gradient(circle, rgba(255,181,0,1) 20%, rgba(22,22,22,1) 70%);
}

li {
  list-style-type: none;
}

html body {
  background : #000000;
  min-height: 100vh;
  position: relative;
}
