<div class="container">
  <%= simple_form_for ([event, category]),  html: { class: 'd-none', data: { category_card_target: 'form' } } do |f| %>
    <%= f.input :name, collection: Category::CATEGORIES %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>
