<%= simple_form_for ([event, category, suggestion]), html: {class: 'd-none', data: { category_card_target: 'form' } } do |f| %>
  <%= f.input :name %>
  <div class="container pt-5">
  <%= f.button :submit, class: "btn btn-flat col-12" %>  
  </div>
<% end %>
